<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controllers/referralController.js"></script>
    <script type="text/javascript" src="/static/js/services/referralServices.js"></script>
    <title>Add User</title>
</head>

<body data-ng-app="app">
    <div ng-controller="referralController" class="content" style="margin-top: 40px;">
        <h1 ng-show="!showSuccessMessage">Enter User Details</h1>
        <div class="error" ng-show="showError">
            <p style="color: red;">[[ errorMessage ]]</p>
        </div>
        <form id="user_form" ng-show="!showSuccessMessage">

            <label for="name">Name</label>
            <input id="name" style="margin-left: 59px;" type="text" name="user_name" ng-model="newUser.name" required><br>
            <label for="email">Email</label>
            <input id="email" style="margin-left: 61px;" type="email" name="user_email" ng-model="newUser.email" required><br>
            <label for="referral_code">Referral Code</label>
            <input id="referral_code" style="margin-left: 5px;" type="text" name="user_referred_by_code" ng-model="newUser.referred_by_code"><br>

            <div style="margin-top: 20px;margin-left: 128px;">
                <input type="button" ng-click="saveUser()" value="Save User">
            </div>
        </form>
        <div ng-show="showSuccessMessage">
            <p>User successfully registered</p>
            <div>
                <a href="[[ userLink ]]">User</a>
            </div>
        </div>
    </div>
</body>
</html>

