<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controllers/referralController.js"></script>
    <script type="text/javascript" src="/static/js/services/referralServices.js"></script>
    <title>Add User</title>
</head>
<h1>User Details</h1>
<body data-ng-app="app">
    <div ng-controller="referralController" data-ng-init="getUserData({{ id }})" style="margin-top: 50px;">
        <p>Name &nbsp; : &nbsp; [[ user_data.name ]]</p>
        <p>Email &nbsp; : &nbsp; [[ user_data.email ]]</p>
        <p>Referral Code &nbsp; : &nbsp; [[ user_data.referral_code ]]</p>
        <p>Referred By&nbsp; : &nbsp; [[ user_data.referred_by ]]</p>
        <p>Referral Score &nbsp; : &nbsp; [[ user_data.referral_score ]]</p>
        <p>Wallet Money &nbsp; : &nbsp; [[ user_data.wallet ]]</p>
    </div>
</body>
</html>